.auth-form-container {
  display: flex;
  justify-items: center;
  height: 100vh;
}

.auth-form {
  background-color: #FFF;
  width: fit-content;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.auth-form__dog-img {
  height: 132px;
}

.auth-form__headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.auth-form__input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.24px;
  padding: 12px 20px;
  border: 1px solid #DCDCDF;
  border-radius: 12px;
  margin-bottom: 12px;
  width: 352px;
  box-sizing: border-box;
}

.auth-form__input::placeholder {
  color: #B1B1B7;
}

.auth-form__login-button {
  padding: 12px 20px;
  background: rgba(96, 194, 170, 0.3);
  border-radius: 12px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 8px;
  width: 352px;
}

.auth-form__login-button:hover {
  cursor: pointer;

}

.auth-form__login-button--active {
  background-color: #60C2AA;
}